:root{
    --primary-color: #4A4f54;
    --secondary-color: #f7f7f7;
    --dark-color:black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    font-size: 18px;
    color:black;
    font-weight:600;
}
h2{
    font-size:30px;
    font-weight:600;
}
p{
    color: var(--primary-color);
}

button{
    background-color:var(--dark-color);
    padding: 10px 20px;
color: white;
font-weight:600;
display:flex;
gap:10px;
justify-content:center;
align-items:center;
font-size: 12px;
letter-spacing:1px;
transition:all 0.3s ease;
border:1px solid var(--dark-color);
}

button:hover{
    background-color:white;
    color:var(--dark-color);
    border:1px solid var(--dark-color);
}

/* navbar */

.header{
    height: 58px;
    color: var(--primary-color)
}
.pipe:hover{
    background-color:none!important;

}

.list-section1 li a, .list-section2 li a{
    letter-spacing: 1px;
  
   
}
 .list-section2 li, .list-section1 li{
    padding: 20px 20px;
    
    transition: all 0.3s ease;
}

.list-section1 li{
    padding:20px 15px
}
.list-section1 li:hover, .list-section2 li:hover{
    background-color: var(--secondary-color);
   
}
.unordered-list-2 li a{
    display:flex;
    gap:8px
}

/* hero section */

.heroImage{
    background-image: url("./assets/range\ hero.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    object-fit: contain;
}

/* card section 1 */

/* .container{
    padding:50px 50px;
} */
.card-section-1{
    padding:50px ;
    background-color:var(--secondary-color);
}

.card-img img{
    object-fit:cover!important;
}
.card-1,.card-2,.card-3,.card-4{
    transition:all 0.3s ease-in-out;
}

.card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover {
    transform: scale(1.01);
}


/* hero section 2 */


.img-section{
background-image:url("./assets/hero2\ poster.avif");
height:500px;
background-size:cover;
object-fit:cover;
background-position:center;
background-repeat:no-repeat;
}

.explore-link{
font-size:12px;
letter-spacing:1px;
font-weight:600;
}
.explore-link:hover{
    text-decoration:underline;
}

.find-btn{
    width:200px
}

